.boke-image
  = image_tag @boke.theme.uri
%hr
.boke-content
  = @boke.content
%hr

= simple_form_for(@evaluation, url: [:my, @boke.theme, @boke, @evaluation]) do |f|
  = f.input :point, label: '評価点を入力して下さい'
  = f.input :comment, label: 'コメントがあれば入力して下さい'
  = f.submit '評価を投稿', class: 'btn btn-block btn-primary'
